* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

.container {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.container .loader {
	display: flex;
	justify-content: space-evenly;
	padding: 0 20px;
}

.loader .loading {
	border-radius: 50px;
	height: 30px;
	margin: 0 10px;
	width: 30px;
	animation: load 0.8s ease infinite;
}

.loader .loading.first {
	animation-delay: 0.15s;
	background: red;
}

.loader .loading.second {
	animation-delay: 0.25s;
	background: orange;
}

.loader .loading.third {
	animation-delay: 0.35s;
	background: #ffff00;
}

.loader .loading.fourth {
	animation-delay: 0.45s;
	background: green;
}

.loader .loading.fifth {
	animation-delay: 0.55s;
	background: blue;
}

.loader .loading.sixth {
	animation-delay: 0.65s;
	background: indigo;
}

.loader .loading.seventh {
	animation-delay: 0.75s;
	background: violet;
}

@keyframes load {
	0%,
	40%,
	100% {
		height: 30px;
		width: 30px;
		transform: scale(0.2);
	}
	20% {
		height: 30px;
		width: 30px;
		transform: scale(1);
	}
}
